@import url('https://fonts.googleapis.com/css?family=Khula');
html, body {
    padding:0; margin: 0;
    font-size: 17px;
    font-family: 'Khula', 'roboto', Serif, serif;
    color: #ffffff;
}

div.container {
    background: #31415b;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

div.col-md-12 {
    color: #dddddd;
    text-align: center;
    justify-content: center;
}

form {
    align-self: center;
    padding: 20px;
    margin: auto;
}

span.btn {
    display: inline-block;
    padding: 12px 20px;
    background: #0eb7cc;
    margin: 24px;
}

span.btn:hover {
    background: #19afc2;
}

.in {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    margin: 20px;
}

input{
    display: inline-block;
    background: transparent;
    border: 0;
    color: white;
    margin-left: 4px;
    outline: none;
}

::-webkit-input-placeholder { /* Chrome */
    color: white;
    font-size: 0.9rem;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
    font-size: 0.9rem;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
    opacity: 1;
    font-size: 0.9rem;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
    font-size: 0.9rem;
}